* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #009933;
  animation: colorchange 50s infinite;
}


#comment {
    margin-top: 550px;
    margin-left: 10px;
    margin-right: 5px;
    display:block;
    
}

#textfield {
    
    margin:auto;
    height: 100px;
    width:100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
     
}
#save{
    
    margin:auto;
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    transition: width 2s;
    
}

#save:hover{
 animation: shake 0.6s infinite; 
 width: 120px; 
}

#shufflebtn {
    height: 100px;
    padding:inherit;
    margin-top: 700px;
    margin-right: 20px;
    margin-bottom: 50px;
    background: aquamarine;
    transition: height 2s;
    
}
#shufflebtn:hover{
 animation: shake 0.6s infinite;
 height: 120px; 
}

#game-instruct{
    width: 200px;
    margin-top: 100px;
    margin-left: 10px;
    
}



#btn{
   height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    background: aquamarine;
    
}

.game {
  width: 700px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;   
  transition: transform .5s;
  box-shadow: 5px 2px 2px rgba(0,0,0,.3);
}
.card:hover{
    box-shadow: 15px 2px 2px rgba(0,0,0,.3);
    background-color: #000;
}

.card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #99cc00;
  backface-visibility: hidden;
  object-fit:scale-down;    
}

.front {
  transform: rotateY(180deg);
}

h1{
    position:absolute;
}

.text {
    font-size: 50px;
    position: fixed;
    padding: 10px 10px;
    animation: type 4s steps(80);
    overflow:hidden;
    white-space: nowrap;
    font-family: consolas;
    width: 88ch;
}

 .overlay-text {
        
        position: fixed;
        top:0;
        right:0;
        left:0;
        bottom:0;  
        justify-content: center;
        text-align: center;
        z-index: 100;
        color: aqua;
    }
    .overlay-text.visible {
       display: none;
       flex-direction: column;
       animation: overlay-grow 500ms forwards;
        
    }


.stopwatch {
    width: 1px;
    height: 1px;
    background-color: #0af;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.75), 0 0 1px rgba(0, 0, 0, 0.15);
   padding 15px;

    &, & * {
        transition: all 0.15s ease-out;
    }
}
        .controls {
        display: flex;
        margin-top:150px;
        margin-left: 15px;
}
        #cbtn {
            
            flex-grow: 1;
            margin: 0 5px 4px ;
            padding: 5px 0;
            border-radius: 5px;
            box-shadow: 0 4px rgba(0, 0, 0, 0.75);
            border: 0;
            outline: 0;
            font-size: 15px;
            color: white;
            cursor: pointer;
            font-weight: bold;

            &:active {
                margin-bottom: 0;
                margin-top: 4px;
                box-shadow: none;
            }
        }

        .start {
            background-color: #5d5;
            

            
        }

        .stop {
            background-color: #d55;
            

           
        }

        .reset {
            background-color: #55d;
             

           
        }
    

    .display {
        font-size: 25px;
        font-family: sans-serif;
        text-align: center;
        margin-top: 10px;
        margin-left: 25px;
        
       
    }




@keyframes type {
    0%{

width: 0ch;
    }
    100% {
        width: 88ch;
    }

   
    }

@keyframes overlay-grow {
    from {
        background-color: rgba (0, 0, 0, 0);
        font-size: 0;
    }
    to{
        font-size: 10em;
        background-color: rgba (0, 0, 0, .8);
    }
    }
}
  
   @-webkit-keyframes colorchange 
    {
      0%   {background: #00cc66;}
      25%  {background: #ffff00;}
      50%  {background: #ccff99;}
      75%  {background: #59b300;}
      100% {background: #00cc66;}
    }

 @-webkit-keyframes colorchange 
    {
      0%   {background: #00cc66;}
      25%  {background: #ffff00;}
      50%  {background: #ccff99;}
      75%  {background: #59b300;}
      100% {background: #00cc66;}
    }

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
     25% {
        transform: translate(1px, 1px) rotate(1deg);
    }
     50% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
     75% {
        transform: translate(2px, -1px) rotate(2deg);
    }
     100% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
    }
}
